/*===============================
34. Start Architect Project Area
================================*/

.architect-project-item {
  margin-top: 30px;

  .project-thumbnail {
    img {
      width: 100%;
    }
  }

  .project-info {
    h2 {
      font-size: 16px;
      font-weight: 600;
      text-transform: uppercase;
      margin: 32px 0 20px;

      @media #{$md-device, $sm-device} {
        margin: 20px 0 10px;
      }
    }
    p {
      margin-bottom: 0;
    }
  }

  .btn-read-more {
    color: $black-soft;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin-top: 15px;

    &:hover {
      color: $brand-color;
    }
  }
}