/*================================
28. Start Call to Action Wrapper
=================================*/
.single-call-action-wrap {
  background-color: $black-soft;
  padding: 120px 130px;
  display: flex;
  align-items: center;

  @media #{$xlmax-device} {
    padding: 120px 30px;
  }

  @media #{$lg-device} {
    display: block;
    padding: 120px 30px;
  }

  @media #{$md-device} {
    display: block;
    padding: 80px 15px;
  }

  @media #{$sm-device} {
    display: block;
    padding: 60px 15px;
  }

  &:nth-child(2n) {
    background-color: darken($black-soft, 4%);
  }

  .call-action {
    &-thumb {
      max-width: 200px;
      width: 100%;
      margin-right: 35px;

      @media #{$lg-device} {
        margin-bottom: 48px;
        max-width: 150px;
      }

      @media #{$md-device,$sm-device} {
        margin: 0 auto 30px;
        max-width: 100px;
      }

      img {
        width: 100%;
      }
    }

    &-info {
      color: #b8b8b8;
      line-height: 2;

      h2 {
        color: $white;
        font-size: 40px;
        line-height: 1.2;
        margin-top: -7px;
        margin-bottom: 35px;

        @media #{$md-device} {
          font-size: 30px;
          font-weight: 600;
          margin-bottom: 18px;
        }

        @media #{$sm-device} {
          font-size: 30px;
          font-weight: 400;
          margin-bottom: 18px;
        }
      }

      .btn {
        border-color: $white;
        color: $brand-color;
        margin-top: 28px;
        transition: 0.5s;

        @media #{$md-device, $sm-device} {
          margin-top: 18px;
        }

        &:hover {
          background-color: $brand-color;
          border-color: $brand-color;
          color: $white;
        }
      }
    }

    &-icon {
      color: $brand-color;
      font-size: 100px;
      line-height: 1;
      margin-right: 100px;

      @media #{$xlmax-device} {
        margin-right: 50px;
      }

      @media #{$lg-device} {
        margin-bottom: 48px;
        margin-right: 0;
      }

      @media #{$md-device, $sm-device} {
        margin-bottom: 25px;
        margin-right: 0;
        font-size: 60px;
      }
    }
  }
}

// Call to Action Style Layout Two
.call-action-content {
  color: $white;
  line-height: 2;
  padding: 140px 0 150px;

  @media #{$md-device} {
    padding: 80px 0;
  }

  @media #{$sm-device} {
    padding: 0 0 60px;
    margin-top: 30px;
  }

  h2 {
    color: $white;
    font-size: 40px;
    line-height: 1.3;
    margin-bottom: 35px;

    @media #{$md-device} {
      font-size: 32px;
    }

    @media #{$sm-device} {
      font-size: 24px;
      margin-bottom: 15px;
    }
  }

  .btn-bordered {
    border-color: $white;
    color: $white;
    margin-top: 20px;

    &:hover {
      color: $brand-color;
    }
  }
}

.call-action-video-area {
  position: relative;
  height: 100%;
  transition: 0.4s;
  z-index: 1;

  @media #{$sm-device} {
    margin-top: 60px;
    height: 300px;
  }

  &:before {
    @include overlay($black, 0.5);
    z-index: 1;
  }
}

.btn-video-popup {
  border-radius: 50%;
  border: 5px solid $white;
  color: $white;
  display: block;
  font-size: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 70px;
  height: 80px;
  width: 80px;
  z-index: 2;

  i {
    padding-left: 3px;
  }
}

.call-action-img, .gallery-image {
  img {
    width: 100%;
  }
}