/*=============================
19. Start Feature Products Area
================================*/
.area-title {
  h2 {
    font-size: 40px;
    line-height: 1;
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: -6px;

    @media #{$sm-device} {
      font-size: 30px;
      margin-bottom: 20px;
    }
  }

  .btn {
    margin-top: 38px;
  }
}

.feature-product-area {
  border: 1px solid $border-color;
  padding: 100px 0;

  @media #{$md-device} {
    padding: 80px 0;
  }

  @media #{$sm-device} {
    padding: 62px 0 60px;
  }
}