/*==========================
20. Start Products Wrapper
===========================*/
.single-product-wrap {
  .product-thumb {
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      transition: 0.4s;
    }

    .btn-quick-view {
      background-color: $white;
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transition: 0.4s;
      transform: scale(1.5);
      margin: -25px 0 0 -25px;
      opacity: 0;
      visibility: hidden;
      line-height: 50px;
      height: 50px;
      width: 50px;

      &:hover {
        background-color: $brand-color;
        color: $white;
      }
    }

    .btn-add-cart {
      background-color: $brand-color;
      color: $white;
      display: block;
      font-size: 13px;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;
      transform: translateY(100%);
      padding: 15px 10px;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;

      &:hover {
        background-color: $black-soft;
      }
    }
  }

  .product-details {
    margin-top: 22px;

    @media #{$sm-device} {
      margin-top: 17px;
    }

    .product-title {
      font-size: 16px;
      font-weight: 600;
      text-transform: capitalize;

      a {
        color: $black-soft;

        &:hover {
          color: $brand-color;
        }
      }
    }

    .price-group {
      font-size: 16px;
      line-height: 1;
      font-weight: 600;

      .old-price {
        color: #c6c8ca;
        margin-right: 5px;
      }
    }

    .btn-add-wishlist {
      color: $black-soft;
      padding-right: 2px;
    }
  }

  // After Hover Effect
  &:hover {
    .btn-quick-view {
      transform: scale(1);
      opacity: 1;
      visibility: visible;
    }
    .btn-add-cart {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  }
}

//Products Grid Layout
.products-wrapper {
  &.grid-layout {
    margin-top: -30px;

    .single-product-wrap {
      margin-top: 30px;
    }
  }
}