/*=============================
08. Start Welcome Area Wrapper
================================*/
.welcome-thumbnail {
  margin-left: -405px;

  @media #{$lg-device} {
    margin-left: -450px;
  }

  @media #{$md-device,$sm-device} {
    margin-left: 0;
  }

  img {
    max-width: inherit;

    @media #{$md-device,$sm-device} {
      max-width: 100%;
    }
  }
}

.single-welcome-feature {
  margin-top: 60px;

  @media #{$md-device,$sm-device} {
    margin-top: 13px;
  }

  .feature-icon {
    color: $black-soft;
    font-size: 36px;
    line-height: 1;
    margin-right: 50px;
    flex: 0 0 40px;
    max-width: 40px;

    @media #{$sm-device} {
      margin-right: 20px;
    }
  }

  .feature-info {
    h3 {
      font-size: 16px;
      font-weight: 600;
      line-height: 1.3;
      text-transform: uppercase;
      margin-bottom: 15px;
      margin-top: -3px;
    }
  }
}