/* Additional Styles based on the website from 2023 */

html {
  scroll-padding-top: calc(4.5rem - 1px);
}

body {
  letter-spacing: 0.025em;
}

#mainNav {
  min-height: 3.5rem;
  /* background-color: #fff; */
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: var(--bs-primary);
  border: 1px solid #FFFFFF;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: var(--bs-primary);
  opacity: 0.6;
  font-weight: 700;
  padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  /* color: fade(#fff, 80%); */
  outline: none;
  background-color: transparent;
  text-decoration: underline;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }

  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: var(--bs-primary);
    opacity: 0.6;
  }

  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }

  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }

  #mainNav .nav-link:active {
    color: #fff;
  }

  #mainNav.navbar-shrink {
    /* background-color: #fff; */
    background-color: black;
  }

  #mainNav.navbar-shrink .navbar-brand {
    /* color: #000; */
    color: white;
  }

  #mainNav.navbar-shrink .nav-link {
    /* color: #000; */
    /* color: var(--bs-primary); */
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }

  #mainNav.navbar-shrink .nav-link:hover {
    /* color: #64a19d; */
    /* color: var(--bs-primary); */
    color: var(--bs-secondary);
  }

  #mainNav.navbar-shrink .nav-link:active {
    /* color: #467370; */
    color: var(--bs-primary);
  }

  #mainNav.navbar-shrink .nav-link.active {
    /* color: #64a19d; */
    color: var(--bs-primary);
    outline: none;
    border-bottom: 0.25rem solid --bs-primary;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  /* font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  /* font-size: 80%; */
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  border: 0;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/algo2-paulus-van-dorsten.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead-gradient {
  background: linear-gradient(to bottom, rgb(var(--bs-body-bg-rgb), 0) 60%, rgb(var(--bs-body-bg-rgb), 1) 100%);
}

.masthead h1,
.masthead .h1 {
  /* font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
  /* font-size: 2.5rem; */
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: white;
  /* background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /* mix-blend-mode: difference; */
}

.masthead h2,
.masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
  /* mix-blend-mode: difference; */
}

@media (min-width: 768px) {

  .masthead h1,
  .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }

  /* *** */
  .masthead h1,
  .masthead .h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: 0.8rem;
  }

  .masthead h2,
  .masthead .h2 {
    max-width: 30rem;
    font-size: 2.25rem;
  }
}

.menu-section {
  padding-top: 6rem;
}

.main-section {
  padding-top: 2rem;
  /* background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%); */
}

.main-section p {
  margin-bottom: 2rem;
}

.projects-section {
  padding: 8rem 0;
  /* padding: 2rem 0; */
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    /* border-left: 0.5rem solid #64a19d; */
  }
}

.projects-section .project-text {
  padding: 2rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 2rem;
  }

  .projects-section .project-text hr {
    /* border-color: #64a19d; */
    border-width: 0.25rem;
    width: 30%;
  }
}

.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("../assets/img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-signup input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding-top: 1rem;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4,
.contact-section .card .h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 2rem;
  width: 2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.5);
  scale: 1.5;
}

.contact-section .social a:hover {
  /* color: rgba(255, 255, 255, 0.5); */
  color: var(--bs-primary);
}

.contact-section .social a:active {
  color: #fff;
}

.footer {
  padding: 5rem 0;
}

.blink {
  animation: blinker 2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

h2 a {
  text-decoration: none !important;
  color: white;
}

#container-p5 {
  /* background-color: magenta; */
  margin-bottom: 10px;
  transform: scale(0.8);
}

#container-three {
  position: absolute;
  left: 0;
  top: 0;

  background-image: var(--bs-bg-gradient);
}

.dimmed-background {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: url(' THIS WILL BE REPLACED '); */
  background-size: cover;
  background-position: top;
}

.dimmed-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(var(--bs-body-bg-rgb), 0.5) 0%, rgba(var(--bs-body-bg-rgb), 1.0) 100%);
}