/* Additional Styles for 2024 based on Bootstrap template and the website from 2023 */

html {
  scroll-padding-top: calc(4.5rem - 1px);
}

body {
  letter-spacing: 0.025em;
}

img,
iframe {
  /* border-radius: 20px 0 20px 0; */
  border-radius: 5px;
}

#mainNav {
  min-height: 3.5rem;
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: var(--bs-primary);
  border: 1px solid #FFFFFF;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: var(--bs-primary);
  /* opacity: 0.6; */
  font-weight: bold;
  padding: 0.9rem 0;
}

#mainNav .navbar-nav .nav-item:hover {
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active,
#mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.5s ease-in-out;
  }

  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: var(--bs-primary);
  }

  #mainNav .navbar-brand:hover {
    color: var(--bs-link-hover-color);
  }

  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.6);
  }

  #mainNav .nav-link:hover {
    color: var(--bs-link-hover-color);
  }

  #mainNav .nav-link:active {
    color: #fff;
  }

  #mainNav.navbar-shrink {
    /* background-color: #1f1931; */
    background: linear-gradient(to bottom, var(--bs-body-bg) 0%, #150229 100%);
    opacity: 0.95;
  }

  #mainNav.navbar-shrink .navbar-brand {
    color: white;
  }

  #mainNav.navbar-shrink .navbar-brand:hover {
    color: var(--bs-link-hover-color);
  }

  #mainNav.navbar-shrink .nav-link {
    color: var(--bs-primary);
    padding: 1.5rem;
  }

  #mainNav.navbar-shrink .nav-link:hover {
    color: var(--bs-primary);
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
  border: 0;
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/algo2-paulus-van-dorsten.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead-gradient {
  background: linear-gradient(to bottom, rgb(var(--bs-body-bg-rgb), 0) 60%, rgb(var(--bs-body-bg-rgb), 1) 100%);
}

.masthead h1,
.masthead .h1 {
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: white;
  /* background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0)); */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  /* mix-blend-mode: difference; */
}

.masthead h2,
.masthead .h2 {
  max-width: 20rem;
  font-size: 1rem;
  /* mix-blend-mode: difference; */
}

@media (min-width: 768px) {

  .masthead h1,
  .masthead .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }

  /* *** */
  .masthead h1,
  .masthead .h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: 0.8rem;
  }

  .masthead h2,
  .masthead .h2 {
    max-width: 30rem;
    font-size: 2.25rem;
  }
}

.menu-section {
  margin-top: 6rem;
}

.main-section {
  padding-top: 2rem;
}

.main-section p {
  margin-bottom: 2rem;
}

.projects-section {
  padding: 8rem 0;
  /* padding: 2rem 0; */
}

.projects-section .featured-text {
  padding: 2rem;
}

@media (min-width: 992px) {
  .projects-section .featured-text {
    padding: 0 0 0 2rem;
    /* border-left: 0.5rem solid #64a19d; */
  }
}

.projects-section .project-text {
  padding: 2rem;
  font-size: 90%;
}

@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 2rem;
  }

  .projects-section .project-text hr {
    /* border-color: #64a19d; */
    border-width: 0.25rem;
    width: 30%;
  }
}

.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url("../assets/img/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.signup-section .form-signup input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.contact-section {
  padding-top: 1rem;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4,
.contact-section .card .h4 {
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: rem;
}

.contact-section .social a {
  text-align: center;
  height: 2rem;
  width: 2rem;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.5);
  scale: 1.5;
}

.contact-section .social a:hover {
  color: var(--bs-link-hover-color);
}

.contact-section .social a:active {
  color: #fff;
}

.footer {
  padding: 5rem 0;
}

h2 a {
  text-decoration: none !important;
}

#container-p5 {
  /* background-color: magenta; */
  margin-bottom: 10px;
  transform: scale(0.8);
}

#container-three {
  position: absolute;
  left: 0;
  top: 0;

  background-image: var(--bs-bg-gradient);
}

/* background image */
.dimmed-background {
  z-index: -1;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  /* background-image: url(' THIS WILL BE REPLACED '); */
  background-size: cover;
  background-position: top;
}

.dimmed-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(var(--bs-body-bg-rgb), 0.3) 0%, rgba(var(--bs-body-bg-rgb), 1.0) 100%);
}

/* div decoration */
.rounded {
  border-radius: 20px;
}

.rounded-lefttop {
  border-radius: 20px 0 20px 0;
}

/* button section */
.button-section {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.button-box {
  flex: 1;
  min-width: calc(33.333% - 30px);
  /* adjust px based on gap. i.e. 15 x 2 = 30*/

  padding: 20px;
  /* border-radius: 20px 0 20px 0; */

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

.button-box-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
}

.button-box-text h3 {}

.button-box-text p {
  /* line-height: 1.8rem; */
}

.button-box-text b {
  color: var(--bs-cyan)
}

.button-box-buttons {
  display: flex;
  flex-direction: column;

  text-align: left;
  width: 100%;
}

.button-box-buttons button {
  padding: 5px 10px;
  background-color: #fff;
  /* border: 1px solid #000; */
  border: none;
  border-radius: 5px;
  margin: 3px 0;
  color: var(--bs-link-color);
  font-weight: bold;
}

/* responsive adjustments */
@media (max-width: 600px) {
  .m-square {
    min-width: 100%;
    padding-top: 100%;
  }
}

/* Hero Section */
.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-title {
  width: 100%;
  padding: 50px;
  text-align: center;
}

.hero-title h1 {
  color: white;
  font-size: 3.5rem;
  letter-spacing: 0.8rem;
}

.hero-title hr {
  margin: 20px 0 40px 0;
}

.hero-title div {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.hero-title div a {
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.hero-title div a:hover {
  color: rgba(255, 255, 255, 1.0);
  /* color: var(--bs-link-hover-color); */
}

.scroll-indicator {
  position: absolute;
  bottom: 25px;
  /* Adjust as necessary */
  left: 50%;
  transform: translateX(-50%);
  font-size: 15px;
  /* Adjust the size of the arrow */
  color: white;
  /* Color of the arrow */
  animation: blink 1.5s infinite;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}