@import "section-parts/search-box";
@import "section-parts/off-canvas";
@import "section-parts/quick-view";
@import "section-parts/page-header";
@import "section-parts/main-menu";
@import "section-parts/welcome-section";
@import "section-parts/fun-fact";
@import "section-parts/portfolio";
@import "section-parts/testimonial";
@import "section-parts/team";
@import "section-parts/blog";
@import "section-parts/brand-logo";
@import "section-parts/banner";
@import "section-parts/discover";
@import "section-parts/product-slider";
@import "section-parts/shop-cate-banner";
@import "section-parts/feature-products";
@import "section-parts/products";
@import "section-parts/newsletter";
@import "section-parts/creative-shop-banner";
@import "section-parts/category-products";
@import "section-parts/post-slider";
@import "section-parts/about";
@import "section-parts/home-blog";
@import "section-parts/sidebar";
@import "section-parts/call-to-action";
@import "section-parts/skills";
@import "section-parts/contact";
@import "section-parts/agency-about";
@import "section-parts/showcase_description";
@import "section-parts/get-app";
@import "section-parts/architect-project";
@import "section-parts/rev-slider";