/*------------------------------------------------------
[Table of contents ]

    00. Typography Style Start
    01. Background Colors
    02. Start Header Area Wrapper
    03. Start Search Box Area
    04. Start Off Canvas Area Wrapper
    05. Quick View Style Here
    06. Start Page Header Area
    07. Start Main Navigation Wrap
    08. Start Welcome Area Wrapper
    09. Start Fun Fact Area Wrapper
    10. Start Portfolio Area Wrapper
    11. Start Testimonial Area Wrapper
    12. Start Team Area Wrapper
    13. Start Latest Blog Area Wrapper
    14. Start Brand Logo Area Wrapper
    15. Start Banner Area Wrapper
    16. Start Discover Area Wrapper
    17. Start Product Slider Area
    18. Start Category Banner Area
    19. Start Feature Products Area
    20. Start Products Wrapper
    21. Start Newsletter Area Wrapper
    22. Start Shop Creative Banner Area
    23. Start Category Product Area
    24. Start Post Slider Wrapper
    25. Start About Me Area
    26. Start Blog Content Area
    27. Start Sidebar Content Wrapper
    28. Start Call to Action Wrapper
    29. Start Our Skills Area
    30. Start Contact Area Wrapper
    31. Start Agency About Wrapper
    32. Start Showcase Description Area
    33. Start Get App Now Area Wrapper
    34. Start Architect Project Area
    35. Start Revolution Slider Css
    36. Start Video Background Content Area
    37. Start Parallax Bg Content Wrapper
    38. Start vCard Container Wrapper
    39. Event Home Page Style
    40. Creative Freelancer Home Page Style
    41. Portfolio Metro Home Page Style
    42. Restaurant Home Page Style
    43. Business Home Page Style
    44. Landing Home Page Style
    45. Fashion Home Page Style
    46. Blog Metro Home Page Style
    47. Startup Home Page Style
    48. Baber Home Page Style
    49. Marketing Home Page Style
    50. Help Home Page Style
    51. Artist Home Page Style
    52. About Us Pages Style
    53. Service Pages Style
    54. Team Pages Style
    55. Contact Pages Style
    56. Pricing Table Page Style
    57. Faq Page Style
    58. Partner Page Style
    59. 404 Error Page Style
    60. Coming Soon Page Style
    61. Blog Details Page Style
    62. Portfolio Page Style
    63. Portfolio Details Page Style
    64. Shop Page Style
    65. Product Details Page Style
    66. Cart Page Style
    67. Checkout Page Style
    68. Wishlist Page Style

--------------------------- The End -------------------*/