@import "tableofcontent";
@import "variables";
@import "mixins";
@import "typography";
@import "colors";
@import "header";
@import "section-parts";
@import "pages";
@import "preloader";
@import "footer";