/*==========================================
61. Start Blog Details Page Content
===========================================*/
.single-post-details {
  font-size: 16px;
  line-height: 2;

  .blog-post-head {
    margin-top: 50px;

    @media #{$xs-device} {
      margin-top: 35px;
    }

    h2 {
      color: lighten($black, 20%);
      font-size: 30px;
      margin-top: -10px;

      @media #{$sm-device} {
        font-size: 24px;
        font-weight: 600;
      }

      @media #{$xs-device} {
        margin-bottom: 10px;
      }
    }
  }

  .blog-post-thumb-gallery {
    max-height: 500px;
    overflow: hidden;

    @media #{$sm-device} {
      max-height: 350px;
    }
  }

  .post-meta {
    margin-bottom: 25px;

    @media #{$sm-device} {
      margin-bottom: 10px;
    }

    a {
      color: lighten($black, 13%);
      margin-right: 20px;
      font-size: 14px;

      &:last-child {
        margin-right: 0;
      }

      i {
        color: $brand-color;
        margin-right: 5px;
      }
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    margin: 40px 0 47px;

    @media #{$sm-device} {
      margin: 25px 0;
    }

    @media #{$sm-device} {
      display: block;
    }

    &__item {
      border-top: 1px solid $border-color;
      max-width: 50%;
      flex-basis: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 12px 20px;

      &:nth-child(1n + 3) {
        border-bottom: 1px solid $border-color;
      }

      &:nth-child(2n + 1) {
        border-right: 1px solid $border-color;
        padding-left: 0;

        @media #{$sm-device} {
          padding-left: 20px;
        }
      }

      &:nth-child(2n + 2) {
        padding-right: 0;

        @media #{$sm-device} {
          padding-right: 20px;
        }
      }

      &:first-child {
        border-top: 1px solid $border-color;
      }

      @media #{$sm-device} {
        min-width: 100%;
        border: 1px solid $border-color;
        border-top: 0;
      }

      @media #{$xs-device} {
        padding: 10px 5px !important;
        font-size: 13px;
      }

      h5 {
        font-size: 15px;
        line-height: 1;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0;

        @media #{$xs-device} {
          font-size: 12px;
        }

        i {
          color: #888888;
          margin-right: 10px;

          @media #{$xs-device} {
            margin-right: 3px;
          }
        }
      }

      .cate-list {
        li {
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }

          a {
            color: $paragraph;
            font-size: 15px;

            &:hover {
              color: $brand-color;
            }
          }
        }
      }

      .share-item {
        a {
          color: $black-soft;
          margin-right: 15px;

          &:last-child {
            margin-right: 0;
          }

          &:hover {
            color: $brand-color
          }
        }
      }
    }
  }

  p, blockquote {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

/*============================
Start Comment Area Wrapper
============================*/
.comment-area-wrapper {
  h3 {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

.single-comment-wrap {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 35px;

  &:last-child {
    margin-bottom: 0;
  }

  &.comment-reply {
    margin-left: 50px;

    @media #{$sm-device} {
      margin-left: 20px;
    }
  }

  .author-thumb {
    border-radius: 3px;
    margin-right: 15px;
    height: 70px;
    max-width: 70px;
    flex-basis: 70px;
    overflow: hidden;
  }

  .comments-info {
    margin-top: -4px;
    flex-basis: calc(100% - 70px);
  }

  .comment-footer {
    a {
      font-size: 12px;
      color: $paragraph;

      strong {
        color: $black-soft;
      }

      &.btn-reply {
        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}