/*===========================
48. Start Site Content Wrapper
============================*/
.site-content-wrapper {
  &.home-baber {
    @media screen and (min-width: 1600px) {
      padding-left: 265px;
    }
  }
}

/*=======================
Start About Us Area
======================*/
.about-thumb-area, .about-bottom-content {
  img {
    width: 100%;
  }
}

.about-bottom-thumb {
  position: relative;

  &-txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 290px;

    h2 {
      color: $white;
      font-size: 70px;
      line-height: 1.2;
      text-transform: uppercase;
      text-align: center;

      @media #{$sm-device} {
        font-size: 50px;
      }

      @media #{$xs-device} {
        font-size: 30px;
      }

      span {
        color: $black;
      }
    }
  }
}

/*================================
Start Baber Service Area Wrapper
==================================*/
.baber-service-title-area {
  padding: 120px 0 195px;
  position: relative;

  @media #{$md-device} {
    padding: 80px 0 175px;
  }

  @media #{$sm-device} {
    padding: 60px 0 166px;
  }

  &:before {
    @include overlay($black, 0.3);
  }
}

.baber-service-content-inner {
  background-color: $white;
  border: 15px solid $brand-color;
  padding: 56px 70px 85px;
  margin-top: -120px;
  position: relative;
  z-index: 1;

  @media #{$md-device} {
    padding: 31px 30px 60px;
  }

  @media #{$md-device, $sm-device} {
    padding: 16px 15px 40px;
    border-width: 5px;
  }
}

.service-list-wrap {
  text-align: center;
  .btn {
    padding: 15px 30px;
    margin-top: 60px;

    @media #{$md-device, $sm-device} {
      margin-top: 30px;
    }

    &-bordered {
      &:hover {
        background-color: $brand-color;
        color: $black-soft;
      }
    }
  }
}

.service-list {
  overflow: hidden;
  margin: 0 -15px;
  text-align: left;

  &-item {
    border-bottom: 1px solid $border-color;
    float: left;
    width: calc(50% - 30px);
    padding: 25px 0;
    margin: 0 15px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;

    @media #{$sm-device} {
      width: calc(100% - 30px);
    }

    @media #{$md-device, $sm-device} {
      font-size: 14px;
    }

    &-title {
      color: $black-soft;
    }

    &-price {
      color: $brand-color;
      margin-left: 10px;
    }
  }
}

/*==============================
Start Contact Area Wrapper
===============================*/
.con-info-method {
  margin-bottom: 52px;

  @media #{$sm-device} {
    margin-bottom: 32px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  h5 {
    font-size: 14px;
    line-height: 1;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 23px;

    @media #{$sm-device} {
      margin-bottom: 15px;
    }
  }

  p, address {
    &:first-child {
      margin-bottom: 0;
    }
  }
}

.form-input-item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  input, textarea {
    background-color: $offwhite;
    border: none;
    display: block;
    outline: none;
    padding: 20px 15px;
    width: 100%;
  }

  &.white-layout {
    input, textarea {
      background-color: $white;
    }
  }

  &.bordered-black {
    input, textarea {
      background-color: transparent;
      border: 2px solid $black-soft;
    }
  }
}