/*==========================
49. Start Marketing Hero Area
============================*/
.single-hero-banner-item {
  height: 100vh;
}

.marketing-hero-content {
  font-size: 18px;
  color: $white;

  h2 {
    color: $white;
    font-size: 80px;
    line-height: 1.2;
    margin-bottom: 74px;

    @media #{$sm-device} {
      font-size: 28px;
      margin-bottom: 30px;
    }
  }

  .btn {
    margin-top: 42px;
    &-brand {
      color: $black-soft;

      &:hover {
        background-color: $white;
      }
    }
  }
}

/*==========================
Start Marketing Service Area
============================*/
.single-service-item {
  margin-top: 40px;

  .service-serial-no {
    color: #f4f4f4;
    font-weight: 700;
    font-size: 120px;
    line-height: 1;
    margin-bottom: 0;
    display: block;
    margin-top: -13px;
  }

  h3 {
    font-size: 24px;
    line-height: 1.2;
    margin-top: -40px;
    margin-bottom: 18px;
  }

  .btn-read-more {
    color: $paragraph;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    display: inline-block;
    margin-top: 17px;

    &:hover {
      color: $brand-color;
    }
  }
}

/*==========================
Start Marketing About Area
============================*/
.marketing-about-thumb {
  position: relative;

  &:before {
    @include overlay();
  }

  img {
    width: 100%;
  }
}