/*=============================
46. Start Main Content Wrapper
==============================*/
.title-area-wrap {
  color: $white;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.8;
  margin: 160px 0 190px;

  @media #{$md-device} {
    margin: 100px 0;
  }

  @media #{$sm-device} {
    margin: 60px 0;
  }

  h2 {
    color: $white;
    font-size: 60px;
    line-height: 1.3;
    margin-bottom: 43px;
  }
}

//==== Start Blog Post Content Wrapper
.single-blog-metro-post {
  margin-top: 30px;

  .blog-post-details {
    background-color: $white;
    padding: 35px;

    @media #{$sm-device} {
      padding: 20px 15px;
    }

    .post-date {
      font-weight: 600;
      font-size: 14px;

      i.fa {
        color: $brand-color;
        margin-right: 3px;
      }
    }

    h2, .blog-title {
      font-size: 18px;
      line-height: 1.3;
      margin-bottom: 0;
      margin-top: 13px;

      a {
        color: $black-soft;

        &:hover {
          color: $brand-color;
        }
      }
    }
  }

  .blog-metro-post-thumb {
    overflow: hidden;
    img {
      height: 100%;
      transition: 0.3s;

      @media #{$sm-device} {
        width: 100%;
      }
    }
  }

  &:hover {
    .blog-metro-post-thumb {
      img {
        transform: scale(1.05);
      }
    }
  }
}

//==== Start Blog Post Filter Menu Area
.blog-post-filter-menu {

  @media screen and (min-width: 1400px) {
    position: absolute;
    left: 100%;
    top: 0;
  }

  @media screen and (min-width: 1600px) {
    margin-left: 100px;
  }

  ul {

    @media screen and (max-width: 1399.98px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        margin-right: 30px;
      }
    }

    li {
      color: $white;
      cursor: pointer;
      font-weight: 600;
      font-size: 14px;
      line-height: 1;
      margin-bottom: 50px;
      text-transform: uppercase;
      transition: 0.4s;

      @media #{$sm-device} {
        margin-right: 10px;
        margin-bottom: 30px;
      }

      &:hover, &.active {
        color: $brand-color;
      }
    }
  }
}

//==== Blog Metro Footer Area
.blog-metro-footer {
  padding: 120px 0;

  @media #{$md-device, $sm-device} {
    padding: 60px 0;
  }

  p {
    color: #aaaaaa;
    margin-bottom: 0;
    font-size: 14px;
  }
}