/*===========================
47. Start Our Expertise Area
============================*/
// Video Popup
.video-area-wrap {
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  max-width: 350px;
  margin: auto;
}

/*=============================
Start Startup Banner Area
==============================*/
.startup-banner-content {
  font-size: 16px;
  font-weight: 600;

  @media #{$md-device, $sm-device} {
    font-size: 15px;
    font-weight: 400;
  }

  h2 {
    font-size: 60px;
    line-height: 1.3;
    margin-top: -17px;
    margin-bottom: 55px;

    @media #{$lg-device} {
      font-size: 40px;
    }

    @media #{$md-device, $sm-device} {
      font-size: 24px;
      margin-top: -9px;
      margin-bottom: 18px;
    }
  }

  .btn-bordered {
    color: $black-soft;
    padding: 20px 50px;
    border-width: 2px;
    margin-top: 38px;

    @media #{$md-device, $sm-device} {
      margin-top: 10px;
      padding: 15px 30px;
    }

    &:hover {
      background-color: $black-soft;
      border-color: $black-soft;
      color: $white;
    }
  }
}

.startup-banner-image {
  @media #{$sm-device} {
    max-width: 300px;
    margin: auto;
  }
}

/*============================
Start Pricing Table Area
==============================*/
.pricing-table-item-wrap {
  color: $white;
  max-width: 25%;
  flex-basis: 25%;
  width: 100%;
  padding: 120px 30px;

  &:nth-child(1n) {
    border-right: 0;
    border-bottom: 0;
  }

  @media #{$md-device,$sm-device} {
    border: 1px solid rgba(255, 255, 255, 0.1);
    max-width: 50%;
    flex-basis: 50%;
    padding: 60px 30px;
  }

  @media #{$xs-device} {
    max-width: 100%;
    flex-basis: 100%;
  }

  &.featured {
    background-color: rgba($black, 0.18);

    .btn {
      &-bordered {
        background-color: $white;
        color: $black-soft;

        &:hover {
          color: $white;
        }
      }
    }
  }

  .price {
    color: $brand-color;
    font-size: 70px;
    display: inline-block;
    line-height: 1;
    margin-bottom: 0;
    margin-top: -7px;
    position: relative;

    sup {
      font-size: 20px;
      line-height: 1;
      position: absolute;
      top: 10px;
      left: 100%;
    }
  }

  .plan-title {
    color: $white;
    font-size: 22px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    margin: 47px 0 40px;

    @media #{$md-device, $sm-device} {
      margin: 17px 0 20px;
    }
  }

  .btn {
    padding: 15px 30px;
    margin-top: 29px;

    @media #{$sm-device} {
      margin-top: 9px;
    }

    &-bordered {
      border-color: $white;
      color: $white;

      &:hover {
        background-color: $black-soft;
        border-color: $black-soft;
      }
    }
  }
}

/*===============================
Start Startup Call to Action
================================*/
.startup-call-to-action {
  background-color: $brand-color;
  padding: 80px 0;

  @media #{$md-device} {
    padding: 60px 0;
  }

  @media #{$sm-device} {
    padding: 40px 0;
  }

  h2 {
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 38px;

    @media #{$sm-device} {
      font-size: 30px;
      margin-top: 20px;
    }
  }
}