/*===========================
58. Start Partner Single Item
===============================*/
.partner-item {
  border-bottom: 1px solid $border-color;
  margin-bottom: 50px;
  padding-bottom: 48px;

  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  &__logo {
    margin-bottom: 30px;
  }

  &__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
  }

  p {
    margin-bottom: 0;
  }
}